body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.heading {
  color: #fff;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border: none;
  padding: 10px 30px;
  outline: none;
  border-radius: 7px;
  background-color: coral;
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 2rem;
  vertical-align: middle;
  color: #282c34;
}
.btn.small {
  font-size: 1rem;
}
.btn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #da683f;
}

.btn:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.btn-secondary {
  background-color: darkturquoise;
}

.btn-secondary:hover {
  background-color: #00aeb1;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #da683f;
}

.counter {
  background-color: #191b20;
  padding: 5px;
  border-radius: 7px;
  box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.3);
  width: 121px;
  height: 47px;
  line-height: 47px;
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
}
input {
  border: none;
  padding: 10px 15px;
  border-radius: 7px;
}
input:focus {
  outline: coral;
  border: 2px solid coral;
}